#administration.content-unit(hidden='true')
    #totp_method.method(hidden='true')
        h1.page-header #{messages.api.totp}
            #totp_switch_admin.Switch.AdminSwitch.Round.Off
                .Toggle
        div Activer le transport SMS :
            #totp_switch_transport_sms.Switch.TransportSwitch.Round.Off
                .Toggle
        div Activer le transport Mail :
            #totp_switch_transport_mail.Switch.TransportSwitch.Round.Off
                .Toggle
    #random_code_method.method(hidden='true')
        h1.page-header #{messages.api.random_code}
            #random_code_switch_admin.Switch.AdminSwitch.Round.Off
                .Toggle
        div Activer le transport SMS :
            #random_code_switch_transport_sms.Switch.TransportSwitch.Round.Off
                .Toggle
        div Activer le transport Mail :
            #random_code_switch_transport_mail.Switch.TransportSwitch.Round.Off
                .Toggle
    #bypass_method.method(hidden='true')
        h1.page-header #{messages.api.bypass}
            #bypass_switch_admin.Switch.AdminSwitch.Round.Off
                .Toggle
    #matrix_method.method(hidden='true')
        h1.page-header #{messages.api.matrix}
            #matrix_switch_admin.Switch.AdminSwitch.Round.Off
                .Toggle
    #push_method.method(hidden='true')
        h1.page-header #{messages.api.push}
            #push_switch_admin.Switch.AdminSwitch.Round.Off
                .Toggle

include managerDashboard-content