#administration.content-unit(hidden='true')
  #totp_method.method(hidden='true')
    h1.page-header #{messages.api.totp}
    .method-content
      p
        | Activer cette méthode d'authentification : oui
        span#totp_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_admin(this);')
        |  non
        span#totp_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_admin(this);')
      p
        | Activer le transport SMS : oui
        span#totp_activate_sms_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_transport(this);')
        |  non
        span#totp_deactivate_sms_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_transport(this);')
      p
        | Activer le transport Mail : oui
        span#totp_activate_mail_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_transport(this);')
        |  non
        span#totp_deactivate_mail_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_transport(this);')
  #random_code_method.method(hidden='true')
    h1.page-header #{messages.api.random_code}
    .method-content
      p
        | Activer cette méthode d'authentification : oui
        span#random_code_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_admin(this);')
        |  non
        span#random_code_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_admin(this);')
      p
        | Activer le transport SMS : oui
        span#random_code_activate_sms_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_transport(this);')
        |  non
        span#random_code_deactivate_sms_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_transport(this);')
      p
        | Activer le transport Mail : oui
        span#random_code_activate_mail_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_transport(this);')
        |  non
        span#random_code_deactivate_mail_transport.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_transport(this);')
  #bypass_method.method(hidden='true')
    h1.page-header #{messages.api.bypass}
    .method-content
      p
        | Activer cette méthode d'authentification : oui
        span#bypass_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_admin(this);')
        |  non
        span#bypass_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_admin(this);')
  #matrix_method.method(hidden='true')
    h1.page-header #{messages.api.matrix}
    .method-content
      p
        | Activer cette méthode d'authentification : oui
        span#matrix_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_admin(this);')
        |  non
        span#matrix_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_admin(this);')
#users.content-unit(hidden='true')
  | Nom d'utilisateur:
  input#userInput(type='text')
  button(onclick='get_user();') Valider
  #userInfo(hidden='true')
    #totp_admin
      .method-content
       h1.page-header #{messages.api.totp}
       p
       | Méthode permettant de générer des codes uniques de 6 chiffres
       p
       | Activer cette méthode d'authentification : oui
       span#admin_totp_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
       |  non
       span#admin_totp_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
       #totp_qrCode
       #totp_secret
       button(onclick='admin_generate_totp();') Générer nouveau QrCode
       button(onclick='admin_delete_totp_secret();') Supprimer le QrCode
    #random_code_admin
      .method-content
       h1.page-header #{messages.api.random_code}
       p
       | Méthode permettant de générer des codes aléatoire valides pour un certain temps et à usage unique
       p
       | Activer cette méthode d'authentification : oui
       span#admin_random_code_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
       |  non
       span#admin_random_code_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
    #bypass_admin
      .method-content
       h1.page-header #{messages.api.bypass}
       p
       | Méthode permettant de générer une liste de codes aléatoire à usage unique
       p
       | Activer cette méthode d'authentification : oui
       span#admin_bypass_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
       |  non
       span#admin_bypass_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
       p#available_code
       p#used_code
       p#bypass_codes
       button(onclick='admin_generate_bypass();') Générer nouveaux codes
       button(onclick='admin_delete_bypass_codes();') Supprimer les codes
    #matrix_admin
      .method-content
       h1.page-header #{messages.api.matrix}
       p
       button(onclick='') Générer nouvelle grille
       button(onclick='') Supprimer la grille